@use "../partials/_mixins" as *;
@use "../partials/_variables" as *;
@use "../partials/_typography" as *;

* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}

html,
body {
  font-family: $font-family;
  color: $primary-dark;
}

h1 {
  font-weight: 600;
  font-size: 3rem;
  line-height: 2.75rem;
}

h2 {
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 2.5rem;
}

h3 {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.25rem;
}

h4 {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

h5 {
  font-weight: 400;
  font-size: 1rem;
  line-height: 2rem;
}
h6 {
  font-family: $special-font;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
}

p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
}

ul,
li {
  list-style-type: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  word-wrap: break-word;
  margin: 0rem;
  padding: 0rem;
}

::placeholder {
  color: $secondary-dark;
}

.logo {
  width: 75px;
  height: 75px;
}

.button--round {
  width: 10rem;
  height: 2.5rem;
  border: none;
  border-radius: 50px;
  color: $primary-light;
  background-color: $primary-dark;
}
.button--square {
  background-color: $primary-dark;
  height: 3rem;
  color: $primary-light;
  font-family: $font-family;
  border: none;
  font-size: 1rem;
}
