@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.landingpage {
  background-color: $primary-light;
  height: 100vh;
  display: flex;
  flex-direction: column;

  &__logobox {
    display: flex;
    height: 10vh;
    padding: 1.5rem 0.75rem;
  }

  &__body {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
  }

  &__caption {
    position: relative;
  }

  &__header {
    text-align: center;
  }

  &__subheader {
    color: $primary-midtone;
    position: absolute;
    bottom: 30px;
    left: -18px;

    @include tablet {
      bottom: 40px;
    }
  }

  &__cta {
    text-align: center;
    min-width: 80%;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__input {
    border: 1.5px solid $primary-midtone;
    border-radius: 50px;
    height: 2rem;
    padding: 0.5rem;
    text-align: center;
    margin-top: 0.5rem;
    color: $primary-dark;
    font-size: 0.7rem;

    @include tablet {
      font-size: 1rem;
    }

    &::placeholder {
      text-align: center;
      color: $primary-midtone;
      font-family: $font-family;
      font-size: 0.7rem;
    }

    &:focus {
      border: 1px solid $primary-dark;
      outline: none;
    }

    &--error {
      animation: shake 0.3s ease;
    }
  }

  &__error {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    height: 1.4rem;
    color: $primary-midtone;
  }

  &__button {
    width: 100%;
  }
}

input:focus::placeholder {
  color: transparent;
}
